@import "../../../styles/variables.scss";

.hero {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100svh;
  max-height: 100svh;
  overflow: hidden;
}

.shadow {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.25);
}

.heroShadow::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: clamp(80px, 10vh, 160px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
}

.heroShadow {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 240px 16px rgba($color: #000000, $alpha: 0.5);
}

.heroImg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  transform: scale(1.04);
  z-index: 0;
  object-fit: cover;
  filter: brightness(0.64);
  animation: zoom 1.24s ease 1.64s forwards;
  will-change: translate;
  transition: translate 0.4s ease-out;
}

.heroContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.heroContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: $white;
  margin: 0 10vw;
  z-index: 10;

  * {
    margin: 0;
  }
}

.heroText {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.textContainer {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.heroTitle {
  transform: translateY(200%);
  font-size: calc(2.25rem + 1.75vw);
  z-index: 3;
  word-break: break-word;
  animation: textReveal 1s ease 0.5s forwards;
}

.program {
  font-size: calc(2.25rem + 1.5vw);
}
.heroSubTitle {
  transform: translateY(200%);
  font-family: var(--raleway), sans-serif;
  font-size: calc(1.5rem + 0.5vw);
  animation: textReveal 1.5s ease 0.75s forwards;
}

@keyframes textReveal {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes zoom {
  from {
    transform: scale(1.04);
  }

  to {
    transform: scale(1.16);
  }
}

.mouse {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  width: 32px;
  color: $white;
  z-index: 51;
  opacity: 0;
  animation: opacity 1s ease 2s forwards, scroll 4s ease-in-out infinite;
}

@keyframes cactusPop {
  0% {
    transform: translateY(200%);
  }
  75% {
    transform: translateY(-8%);
  }

  100% {
    transform: translateY(0);
  }
}

.cactusContainer {
  display: none;
  position: absolute;
  filter: sepia(0.5) brightness(0.75)
    drop-shadow(0px 0 32px hsla(21, 8%, 16%, 0.8));
  transform: translateY(200%);
  will-change: translate;
  transition: translate 0.16s ease-out;
  width: 300px;
  bottom: -240px;

  &.a {
    height: 960px;
    left: 10%;
    z-index: 1;
    animation: cactusPop 1.6s 0.24s cubic-bezier(0.83, 0, 0.17, 1) forwards;
  }

  &.b {
    height: 800px;
    left: 60%;
    z-index: 2;
    animation: cactusPop 1.6s 0.32s cubic-bezier(0.83, 0, 0.17, 1) forwards;
  }
}

.cactus {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translate(-50%, 0);
  }
  20% {
    transform: translate(-50%, 8px);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 8px);
  }
  80% {
    transform: translate(-50%, 8px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.soundIcon {
  position: absolute;
  color: #fff;
  width: 40px;
  height: 40px;
  bottom: 32px;
  right: 16px;

  cursor: pointer;
  z-index: 60;

  transition: transform 0.2s ease;
}

.soundIcon:hover {
  transform: scale(1.1) rotate(-10deg);
  transition: transform 0.2s ease;


}

@keyframes soundWave {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.16;
  }

  100% {
    scale: 1;
  }
}

.logo {
  display: none;
  position: relative;
  opacity: 0;
  animation: opacity 1.5s ease 1s forwards;
  width: clamp(300px, 24vw, 480px);
  height: auto;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .soundIcon {
    right: 40px;
  }

  .heroShadow {
    box-shadow: inset 0 0 240px 16px rgba($color: #000000, $alpha: 1);
  }

  .heroShadow::after {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }

  .cactusContainer {
    display: unset;
  }
  .logo {
    display: block;
  }
}
